/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18/04/2021, 05:25:21 PM
    Author     : droperdev
*/

body{
    width: 100vw;
    height: 100vh;
    background: url('../assets/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.content-login {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    background-color: white;
    padding:16px;
    box-shadow: .5px .5px 5px rgba(0,0,0,0.5);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

.content-login img{
    width: 200px;
}


