/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/06/2021, 01:59:20 AM
    Author     : droperdev
*/

.marcas{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    justify-content: center;
}

.marca {
    min-width: 150px;
    padding: 8px 16px;
    margin: 16px;
    text-align:center;
    border-radius: 16px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.selected {
    background-color: #FF8000;
    color: white;
}

.productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.producto{
    width: 300px;
    padding: 8px 8px 8px 8px;
    margin: 8px;
    text-align:center;
}

@media (max-width: 800px) {
    .marcas{
        justify-content: flex-start;
    }
}